.App{
    background-color: rgb(24, 22, 22);
    color: rgb(241, 235, 235);

}
button{
    background-color: black;
    color: blue;
    width: 50px;
    height: 30px;
    border-radius: 20px;
}
button:hover{
    background-color: black;
    border-color: aqua;
    color: crimson;  
}

h3{
    color: darkgoldenrod;
    text-align: center;
}
h1{
    color: aqua;
}
h2{
    color: slateblue;
    text-align: center;
    font-size: 80px;
}
.inputDiv{
    background-color: aquamarine;
    text-align: center;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
